@{
    ViewData["Title"] = "Home Page";
}

@model MovieModel

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

</div>

<div class="content-center">
    <img src="../img/JoelHiltonHeadshot.jpg" width="300px" />
</div>

