@{
    ViewData["Title"] = "Podcasts";
}


<div class="text-center">
    <h1 class="display-4">Baconsale Podcasts</h1>

</div>

<br />
<div>
    <p> My favorite podcast website: </p>
    <a href="https://baconsale.com/">Check it out!</a>
</div>
